@page "/"

<h1>Mitarbeitendenübersicht!</h1>

<p>Hier wird Softwareprojket entstehen.</p>

<a
    href="https://www.wetter.com/wetter_aktuell/wettervorhersage/3_tagesvorhersage/deutschland/augsburg/DE0000434.html">Wettervorhersage</a>
