@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://github.com/abdykazh/SoPro/" target="_blank">Git Repo</a>
        </div>

        <div class="content px-4 container">
            @Body
        </div>
    </div>
</div>
